<mat-card [ngClass]="{'completed': cardCompleted}" class="card-task">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{cardTitle}}</mat-card-title>
      <mat-card-subtitle>{{cardDescription}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <span class="delete">
        <button mat-fab color="primary" matTooltip="Completar tarefa" (click)="completed()">
          <mat-icon>{{cardCompleted ? 'close' : 'check'}}</mat-icon>
        </button> 
        <button mat-fab color="primary" matTooltip="Excluir tarefa" (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button> 
    </span>
  </mat-card-content>
</mat-card>