<div class="container mb-5">
  <h1> Nova Tarefa </h1>
</div>
<div class="container">
  <form class="form mb-5" [formGroup]="form">
    <mat-form-field class="field">
      <mat-label>
          Título
      </mat-label>
      <input matInput formControlName="title" type="text">
      <mat-error>Campo deve conter 3 caracteres ou mais</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>
        Descrição
      </mat-label>
      <input matInput formControlName="subTitle" type="text">
      <mat-error>{{getMessageFormError('subTitle')}}</mat-error>
    </mat-form-field>
  </form>
  <div>
    <button class="button" (click)="addTask()" [disabled]="form.invalid"> 
      <span>
        Criar tarefa 
      </span>
    </button>
  </div>
</div>